body {
  text-align: center;
  font-family:Sans-Serif;
}

#new-trade-form {
  display: none;
}

#rate, #buy-amount {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}

#trades-table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  display: table;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#trades-table-headers {
  display: table-header-group;
  background-color: gray;
  font-weight: bold;
  font-size: 20px;
}

.table-header-cell {
  display: table-cell;
  background-color: rgb(54, 48, 74);
  color: white;
  font-size:20px;
  font-weight:400;
  height:50px;
  padding: 10px;
  text-align: justify;
  text-align: center;
  text-size-adjust:100%;
  vertical-align: middle;
}

#trades-table-body {
  display: table-row-group;
}

.trades-table-row {
  display: table-row;
}

.trades-table-row:nth-child(even) {
  background-color: rgb(221, 221, 221);
}

.trades-table-row:nth-child(odd) {
  background-color: white;
}

.table-body-cell {
  display: table-cell;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#new-trade-button {
  width: 8%;
  margin-left: 77%;
  margin-right: 15%;
  margin-bottom: 15px;
  padding: 10px;
  font-size:20px;
}

#refresh {
  width: 8%;
  margin-left: 77%;
  margin-right: 15%;
  margin-bottom: 30px;
  padding: 10px;
  font-size:20px;
}

input[type="number"], label, select {
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

select {
  align: center;
  margin-bottom: 30px;
}

#form-column-left {
  display:inline-block;
  margin-left: 20%;
  float: left;
  text-align: center;
}

#form-column-center {
  display:inline-block;
  float: center;
  text-align: center;
}

#form-column-right {
  display:inline-block;
  margin-right: 20%;
  float: right;
  text-align: center;
}

#cancel {
  margin-bottom: 30px;
  padding: 10px;
  font-size:20px;
  float: right;
}

#submit-button {
  margin-bottom: 30px;
  padding: 10px;
  font-size:20px;
  float: left;
}
